Repository eclipse-rap/org.eclipse.rap, pull requests merged in 2022-10, with the labels that each got.

#62 Update build configuration for RAP Runtime 3.23.0 M1
  examples/org.eclipse.rap.demo.databinding/META-INF/MANIFEST.MF
  examples/org.eclipse.rap.demo.databinding/src/org/eclipse/rap/demo/databinding/Snippet000HelloWorld.java
  examples/org.eclipse.rap.demo.databinding/src/org/eclipse/rap/demo/databinding/Snippet001NestedSelectionWithCombo.java
  examples/org.eclipse.rap.demo.databinding/src/org/eclipse/rap/demo/databinding/nestedselection/TestMasterDetailView.java
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: enhancement, releng

#64 Use Eclipse Jetty 10.0.12
  releng/org.eclipse.rap.build/pom.xml
Labels: releng

#70 Fix cell navigation with invisible columns
  bundles/org.eclipse.rap.rwt/js/rwt/widgets/Grid.js
Labels: bug

#71 Update build configuration for RAP Runtime 3.23.0 M2
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng
