Repository eclipse-rap/org.eclipse.rap, pull requests merged in 2023-08, with the labels that each got.

#134 Update build configuration for RAP Runtime 3.26.0 M2
  bundles/org.eclipse.rap.ui.cheatsheets/src/org/eclipse/ui/internal/cheatsheets/CheatSheetPlugin.java
  bundles/org.eclipse.rap.ui.cheatsheets/src/org/eclipse/ui/internal/cheatsheets/composite/parser/CompositeCheatSheetParser.java
  bundles/org.eclipse.rap.ui.cheatsheets/src/org/eclipse/ui/internal/cheatsheets/data/CheatSheetParser.java
  bundles/org.eclipse.rap.ui.cheatsheets/src/org/eclipse/ui/internal/cheatsheets/data/CheatSheetSaveHelper.java
  examples/org.eclipse.rap.e4.demo/launch/RAP e4 Demo.launch
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.equinox.target.feature/feature.xml
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng

#136 Clear selected cells when setting lower item count
  bundles/org.eclipse.rap.nebula.widgets.grid/src/org/eclipse/nebula/widgets/grid/Grid.java
  tests/org.eclipse.rap.nebula.widgets.grid.test/src/org/eclipse/nebula/widgets/grid/Grid_Test.java
Labels: bug, enhancement

#137 Update build configuration for RAP Runtime 3.26.0 M3
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.equinox.target.feature/feature.xml
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng

#138 Add missing function to the fake mouse event used by DND
  bundles/org.eclipse.rap.rwt/js/rwt/widgets/util/WidgetUtil.js
Labels: enhancement
