Repository eclipse-rap/org.eclipse.rap, pull requests merged in 2024-02, with the labels that each got.

#165 Update build configuration for RAP Runtime 3.28.0 M2
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng

#169 Update build configuration for RAP Runtime 3.28.0 M3
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng

#166 Add mode to make text-size-store UI session scoped
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/internal/RWTProperties.java
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/internal/service/UISessionImpl.java
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/internal/textsize/MeasurementOperator.java
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/internal/textsize/ProbeStore.java
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/internal/textsize/TextSizeStorage.java
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/internal/textsize/TextSizeStorageUtil.java
  tests/org.eclipse.rap.rwt.test/src/org/eclipse/rap/rwt/internal/RWTProperties_Test.java
  tests/org.eclipse.rap.rwt.test/src/org/eclipse/rap/rwt/internal/textsize/TextSizeStorageUtil_Test.java
Labels: enhancement

#168 Fix ServerPushSession is interrupted after a period of inactivity
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/internal/serverpush/ServerPushManager.java
  tests/org.eclipse.rap.rwt.test/src/org/eclipse/rap/rwt/internal/serverpush/ServerPushManager_Test.java
Labels: bug

#139 Updating SECURITY.md following template changes
  SECURITY.md
Labels: documentation

#175 Update build configuration for RAP Runtime 3.28.0 RC1
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng
