Repository eclipse-rap/org.eclipse.rap, pull requests merged in 2025-02, with the labels that each got.

#266 Introduce support for sandbox and srcdoc attributes in Browser.
  bundles/org.eclipse.rap.rwt/js/rwt/remote/handler/BrowserHandler.js
  bundles/org.eclipse.rap.rwt/js/rwt/widgets/base/Iframe.js
  bundles/org.eclipse.rap.rwt/src/org/eclipse/rap/rwt/RWT.java
  bundles/org.eclipse.rap.rwt/widgetkits/org/eclipse/swt/internal/browser/browserkit/BrowserLCA.java
  tests/org.eclipse.rap.rwt.jstest/js/org/eclipse/rwt/test/tests/BrowserTest.js
Labels: enhancement

#264 Fix an error when CSP is applied
  bundles/org.eclipse.rap.rwt/js/rwt/event/EventHandlerUtil.js
Labels: bug

#268 Update build configuration for RAP Runtime 4.2.0 M3
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng

#270 Update build configuration for RAP Runtime 4.2.0 RC1
  features/org.eclipse.rap.e4.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.feature/.forceQualifierUpdate
  features/org.eclipse.rap.e4.sdk.feature/.forceQualifierUpdate
  features/org.eclipse.rap.equinox.target.feature/.forceQualifierUpdate
  features/org.eclipse.rap.examples.feature/.forceQualifierUpdate
  features/org.eclipse.rap.feature/.forceQualifierUpdate
  features/org.eclipse.rap.sdk.feature/.forceQualifierUpdate
  releng/org.eclipse.rap.build/pom.xml
Labels: releng
